<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/styles/footer.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/eb033ec4b9.js" crossorigin="anonymous"></script>

</head>
<body>
    <footer class="footer">
        <ul class="icons">
            <li><a class="linkedin" href="https://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a class="facebook" href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a class="email" href="mailto:gizmogrove@gmail.com" target="_blank"><i class="fa-regular fa-envelope"></i></a></li>
        </ul>
    </footer>
</body>
</html>