<%- include("partials/navbar.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/styles/homepage.css" rel="stylesheet">
</head>
<body>
   
    <div id="slideshow">
        <div class="slide-wrapper">
 
            <!-- Define each of the slides
         and write the content -->
 
            <div class="slide">
                <h1 class="slide-number">
                   <div class="card-container"> 
                    <div class="card">
                        <img class="card-pic" src="bs2.png">
                        <span class="caption">IPhone 15</span>
                        <div class="links">
                         <a class="card-link" href="#">LEARN MORE</a>
                          <a class="card-link" href="#">BUY</a>
                        </div>
                    </div>
                    <div class="spec-card">
                      <ul class="spec-list">  
                      <li class="spec-item">  A15 Bionic chip</li>
                      <li class="spec-item">  6.7-inch OLED display</li>
                      <li class="spec-item">  5G connectivity</li>
                      <li class="spec-item">  Improved battery life</li>
                      <li class="spec-item">  iOS 16 operating system</li>
                      <li class="spec-item">  Face ID facial recognition</li>
                      <li class="spec-item">  Water and dust resistance (IP68)</li>
                      <li class="spec-item">  Available in multiple storage options</li>
                      <li class="spec-item">  Updated design with slim bezels</li>
                      </ul>
                    </div>
                </div>
                </h1>
            </div>
            <div class="slide">
                <h1 class="slide-number">
                    <div class="card-container"> 
                     <div class="card">
                         <img class="card-pic" src="MP2.png">
                         <span class="caption">Samsung S24 Ultra</span>
                         <div class="links">
                          <a class="card-link" href="#">LEARN MORE</a>
                           <a class="card-link" href="#">BUY</a>
                         </div>
                    </div>
                        <div class="spec-card">
                            <ul class="spec-list">  
                                <li class="spec-item">  Octa-Core Processor</li>
                                <li class="spec-item">  6.8-inch Dynamic AMOLED 2X display</li>
                                <li class="spec-item">  5G connectivity</li>
                                <li class="spec-item">  Improved battery life</li>
                                <li class="spec-item">  Face ID facial recognition</li>
                                <li class="spec-item">  Water and dust resistance (IP68)</li>
                                <li class="spec-item">  Available in multiple storage options</li>
                                <li class="spec-item">  Updated design with rounded corners</li>
                            </ul>
                        </div>
                    </div>
                 </h1>
            </div>
            <div class="slide">
                <h1 class="slide-number">
                    <div class="card-container"> 
                     <div class="card">
                         <img class="card-pic" src="bs4.png">
                         <span class="caption">Airpods Max</span>
                         <div class="links">
                          <a class="card-link" href="#">LEARN MORE</a>
                           <a class="card-link" href="#">BUY</a>
                         </div>
                    </div>
                        <div class="spec-card">
                            <ul class="spec-list">  
                                <li class="spec-item">  Apple H1 headphone chip</li>
                                <li class="spec-item">  Bluetooth 5.0 wireless</li>
                                <li class="spec-item">  Up to 20 hours of listening time on a single charge</li>
                                <li class="spec-item">  Active Noise Cancellation</li>
                                <li class="spec-item">  Transparency mode</li>
                                <li class="spec-item">  Personalised Spatial Audio with dynamic head tracking</li>
                                <li class="spec-item">  Adaptive EQ</li>
                                <li class="spec-item">  Three microphones for voice pickup</li>
                            </ul>
                        </div>
                    </div>
                 </h1>
            </div>
            <div class="slide">
                <h1 class="slide-number">
                    <div class="card-container"> 
                     <div class="card">
                         <img class="card-pic" src="bs3.png">
                         <span class="caption">Canon PowerShot V10</span>
                         <div class="links">
                          <a class="card-link" href="#">LEARN MORE</a>
                           <a class="card-link" href="#">BUY</a>
                         </div>
                    </div>
                        <div class="spec-card">
                            <ul class="spec-list">  
                                <li class="spec-item">  Digital Zoom 1.5x / 2.0x / 3.0x</li>
                                <li class="spec-item">  Movie Digital IS</li>
                                <li class="spec-item">  Single Card Slot (microSD/microSDHC*/microSDXC*)</li>
                                <li class="spec-item">  Evaluative (384-zone)</li>
                                <li class="spec-item">  USB Power Adapter PD-E1 or adapter</li>
                                <li class="spec-item">  DIGIC X Processor</li>
                                <li class="spec-item">  25.4-mm Sensor</li>
                                <li class="spec-item">  Built-in rechargeable lithium-ion battery</li>
                            </ul>
                        </div>
                    </div>
                 </h1>
            </div>
        </div>
    </div>

  <div class="bestsellers_main_container today_main_container">
    <header class="bestsellers_heading today_heading">
        TODAYS DEALS
    </header>
    <div class="bestsellers_container today_container">
        
       
        <div class="bestseller today">
            <div class="bestseller_img">
                <img src="bs3.png" alt="bestseller3" width="150px" height="150px">
            </div>
            <div class="bestseller_info today_info">
                Canon powershot V10
                <br>
                INR.39,995
            </div>
        </div>
        <div class="bestseller today">
            <div class="bestseller_img">
                <img src="bs4.png" alt="bestseller4" width="150px" height="150px">
            </div>
            <div class="bestseller_info today_info">
                Airpod Max
                <br>
                INR.59,900
            </div>
        </div>
        <div class="bestseller today">
            <div class="bestseller_img">
                <img src="bs3.png" alt="bestseller3" width="150px" height="150px">
            </div>
            <div class="bestseller_info today_info">
                Canon powershot V10
                <br>
                INR.39,995
            </div>
        </div>
        <div class="bestseller today">
            <div class="bestseller_img">
                <img src="bs4.png" alt="bestseller4" width="150px" height="150px">
            </div>
            <div class="bestseller_info today_info">
                Airpod Max
                <br>
                INR.59,900
            </div>
        </div>

    </div>
</div>

  <div class="bestsellers_main_container">
        <header class="bestsellers_heading">
            BEST SELLERS
        </header>
        <div class="bestsellers_container">
            <div class="bestseller">
                <div class="bestseller_img">
                    <img src="bs1.png" alt="bestseller1" width="150px" height="150px">
                </div>
                <div class="bestseller_info">
                    Samsung Galaxy S24 
                    <br>
                    INR.79,999
                </div>
            </div>
            <div class="bestseller">
                <div class="bestseller_img">
                    <img src="bs2.png" alt="bestseller2" width="150px" height="150px">
                </div>
                <div class="bestseller_info">
                    Iphone 15
                    <br>
                    INR.70,999
                </div>
            </div>
            <div class="bestseller">
                <div class="bestseller_img">
                    <img src="bs3.png" alt="bestseller3" width="150px" height="150px">
                </div>
                <div class="bestseller_info">
                    Canon powershot V10
                    <br>
                    INR.39,995
                </div>
            </div>
            <div class="bestseller">
                <div class="bestseller_img">
                    <img src="bs4.png" alt="bestseller4" width="150px" height="150px">
                </div>
                <div class="bestseller_info">
                    Airpod Max
                    <br>
                    INR.59,900
                </div>
            </div>
 
        </div>

    </div>

    <div class="why_container">
        <div class="why_header">
            <div class="why"><span class="text">WHY</span><div class="text2">?</div><br> <span style="font-weight: bolder; position: relative;top:-40px">GIZMO groove</span></div>
            <div class="reason_why">
                Gizmo Groove stands out as your premier destination for all things gadget-related. 
                With a vast selection of products ranging from cutting-edge electronics to timeless 
                classics, we cater to every tech enthusiast's needs. Our commitment to quality ensures 
                that each item we offer has been carefully curated from reputable manufacturers, 
                guaranteeing reliability and performance that exceeds expectations. 
                What's more, our competitive pricing strategy ensures that you get the best value 
                for your money, without compromising on quality.
                <br><br>
             
        </div>
    </div>


 
</body>

</html>


<%- include("partials/footer.ejs") %>
