<%- include("partials/navbar.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samsung S24</title>

    <link href="/styles/product.css" rel="stylesheet">

</head>
<body>

  <main>
    <div class="product">
      <img src="bs1.png" alt="Product Image">
      <div class="product-details">
        <h2>Samsung S24</h2>
        <p>
            Octa-Core Processor<br>
            6.8-inch Dynamic AMOLED 2X display<br>
            5G connectivity<br>
            Improved battery life<br>
            Face ID facial recognition<br>
            Water and dust resistance (IP68)<br>
            Available in multiple storage options<br>
            Updated design with rounded corners
        </p>
        <button id="buyNowBtn">Buy Now</button>
      </div>
    </div>
  </main>


  <script>

    document.getElementById('buyNowBtn').addEventListener('click', function() {
    window.location.href = 'cart.html'; 
    });

  </script>
</body>
</html>
