<%- include("partials/navbar.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="/styles/product.css" rel="stylesheet">

</head>
<body>
    <div class="card-container">
        <div class="product-card">
            <div class="product-picture"></div>
            <div class="product-alternate-pictures"></div>
            <div class="product-name"></div>
            <div class="product-description"></div>
        </div>
    </div>
</body>
</html>
<%- include("partials/footer.ejs") %>
