<%- include("partials/navbar.ejs") %>
<%- include("partials/footer.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Samsung S24 Ultra</title>
  <link href="/styles/samsung.css" rel="stylesheet">
</head>
<body>
  <main>
    <div class="product">
      <img src="MP2.png" alt="Product Image">
      <div class="product-details">
        <h2>Samsung S24</h2>
        <p>
            Octa-Core Processor<br>
            6.8-inch Dynamic AMOLED 2X display<br>
            5G connectivity<br>
            Improved battery life<br>
            Face ID facial recognition<br>
            Water and dust resistance (IP68)<br>
            Available in multiple storage options<br>
            Updated design with rounded corners<br><br>
            INR.79,999
        </p>
        <div class="links">
            <a class="card-link" href="cart.html">BUY NOW</a>
           </div>
      </div>
    </div>
  </main>

  <div class="bestsellers_main_container today_main_container">
    <header class="bestsellers_heading today_heading">
        TODAYS DEALS
    </header>
    <div class="bestsellers_container today_container">


        <div class="bestseller today">
            <div class="bestseller_img">
                <img src="bs3.png" alt="bestseller3" width="150px" height="150px">
            </div>
            <div class="bestseller_info today_info">
                Canon powershot V10
                <br>
                INR.39,995
            </div>
            <br>
            <div class="links">
                <a class="card-link" href="canon.html">LEARN MORE</a>
                 <a class="card-link" href="cart.html">BUY</a>
            </div>
        </div>
        <div class="bestseller today">
            <div class="bestseller_img">
                <img src="bs4.png" alt="bestseller4" width="150px" height="150px">
            </div>
            <div class="bestseller_info today_info">
                Airpod Max
                <br>
                INR.59,900
            </div>
            <br>
            <div class="links">
                <a class="card-link" href="airpods.html">LEARN MORE</a>
                 <a class="card-link" href="cart.html">BUY</a>
            </div>
        </div>
        <div class="bestseller today">
            <div class="bestseller_img">
                <img src="bs3.png" alt="bestseller3" width="150px" height="150px">
            </div>
            <div class="bestseller_info today_info">
                Canon powershot V10
                <br>
                INR.39,995
            </div>
            <br>
            <div class="links">
                <a class="card-link" href="canon.html">LEARN MORE</a>
                 <a class="card-link" href="cart.html">BUY</a>
            </div>
        </div>
        <div class="bestseller today">
            <div class="bestseller_img">
                <img src="bs4.png" alt="bestseller4" width="150px" height="150px">
            </div>
            <div class="bestseller_info today_info">
                Airpod Max
                <br>
                INR.59,000
            </div>
            <br>
            <div class="links">
                <a class="card-link" href="airpods.html">LEARN MORE</a>
                 <a class="card-link" href="cart.html">BUY</a>
            </div>
        </div>

    </div>
</div>

  <div class="bestsellers_main_container">
        <header class="bestsellers_heading">
            BEST SELLERS
        </header>
        <div class="bestsellers_container">
            <div class="bestseller">
                <div class="bestseller_img">
                    <img src="MP2.png" alt="bestseller1" width="150px" height="150px">
                </div>
                <div class="bestseller_info">
                    Samsung Galaxy S24 
                    <br>
                    INR.79,999
                </div>
                <br>
                <div class="links">
                    <a class="card-link" href="samsung.html">LEARN MORE</a>
                     <a class="card-link" href="cart.html">BUY</a>
                </div>
            </div>
            <div class="bestseller">
                <div class="bestseller_img">
                    <img src="bs2.png" alt="bestseller2" width="150px" height="150px">
                </div>
                <div class="bestseller_info">
                    Iphone 15
                    <br>
                    INR.70,999
                </div>
                <br>
                <div class="links">
                    <a class="card-link" href="iphone.html">LEARN MORE</a>
                     <a class="card-link" href="cart.html">BUY</a>
                </div>
            </div>
            <div class="bestseller">
                <div class="bestseller_img">
                    <img src="bs3.png" alt="bestseller3" width="150px" height="150px">
                </div>
                <div class="bestseller_info">
                    Canon powershot V10
                    <br>
                    INR.39,995
                </div>
                <br>
                <div class="links">
                    <a class="card-link" href="canon.html">LEARN MORE</a>
                     <a class="card-link" href="cart.html">BUY</a>
                </div>
            </div>
            <div class="bestseller">
                <div class="bestseller_img">
                    <img src="bs4.png" alt="bestseller4" width="150px" height="150px">
                </div>
                <div class="bestseller_info">
                    Airpod Max
                    <br>
                    INR.59,900
                </div>
                <br>
                <div class="links">
                    <a class="card-link" href="airpods.html">LEARN MORE</a>
                     <a class="card-link" href="cart.html">BUY</a>
                </div>
            </div>

        </div>

    </div>
</body>
