.card-container{
    position: absolute;
    top:10vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}

.header{
    font-size:4rem;
    text-align: left;
    width:60%;

}

.card{
    width:60%;
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh;
    gap:2rem;
}   




.container-1{
    grid-area:1/1/2/2;
}



.container-3{
    grid-area:1/2/2/3;
}


.con{
    display: flex;
    border: solid 2px rgb(191, 189, 189);
    padding:0;
    padding:1rem;
    padding-bottom: 0;

}

.card-link svg{
    height: 100px;
    width: auto;
    float: left;
}

.text{
    display: flex;
    flex-direction: column;
    padding:1rem;

    
}
.container-header{
    font-size: 1.2rem;
    font-weight: bold;
}

.card-link{
    text-decoration: none;
    color:black;
}

.caption{
    margin-top:.3rem;
}

.con:hover{
    background-color: #80808030;
}


.details-card{
    height: 80vh;
    background-color:black;
    width:80vh;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.card-header{
    font-size:3rem;
    padding-left:1rem;
    display: flex;
    justify-content: space-between;
}


.order-detail{
    height:32vh;
    overflow-x:auto ;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding:1rem;

}

.order{
    flex: 0 0 20%; /* Adjust the width here */
    height:80%;
    width:20%;

}


.close{
    border: none;
    display: flex;
    justify-content: end;
    position: relative;
    background-color: transparent;
}

.close svg{
    height: 1rem;
    width: 1rem;
    position: absolute;
    right:0;
}

#order-detail-card{
    color:black;
    backdrop-filter: blur(3px);
    display: none;

}


.info-card{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.user-information{
    padding: 1rem;
    display: flex;
    height:auto;
    width: 58%;
    flex-direction: column;
    gap:2.5rem;
    border:1px solid gray;
    border-radius: 20px;
}

.info{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
    gap:1rem;
}

.title{
    display: inline-block;
    font-weight: bold;
}

.value{
    display: inline;
    float: left;
}

.info:last-child{
    border: none;
}

.button{
    display: flex;
    justify-content: end;
}

.edit{
    width:4rem;
    height: 2rem;
    position: relative;
    top:-1rem;
    background-color: black;
    border: none;
    color:white;
    border-radius: 20px;
}


form{
    background-color: orange;
}